growing_with_experience.egg-info/*
__pycache__
.vscode/settings.json
.vscode/launch.json
smac3_output/*
!smac3_output/.gitkeep
!smac3_output/sync_files.sh
tmp/
config/database_credentials.cfg
logs/py-experimenter.log
config/database_credentials.yml
ssh_files/error_on_###.err
ssh_files/error_on_###.err
ssh_files/result_on_###.out
ssh_files/result_on_###.out
slurm_logs
build
ssh_files/###/error_on_*
ssh_files/###/result_on_*
###_growing_nn_new_seeded