growing_with_experience.egg-info/*
__pycache__
.vscode/settings.json
.vscode/launch.json
smac3_output/*
tmp/
config/database_credentials.cfg
logs/py-experimenter.log
config/database_credentials.yml
ssh_files/error_on_ai-n001.err
ssh_files/error_on_ai-n002.err
ssh_files/result_on_ai-n001.out
ssh_files/result_on_ai-n002.out
