torch
minihack
matplotlib==3.5 # Needs to be installed for minihack to work properly
stable-baselines3
pygame
pytest
hydra-core
hydra_colorlog
hydra-submitit-launcher 
rich
smac
gymnasium[mujoco]
hydra-core
configspace==0.7.1